<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/todo_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/todo_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TKM"
        android:resizeableActivity="true"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.TKM.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemTaskActivity"
            android:theme="@style/Theme.TKM.Home"
            android:exported="true" />
        <activity android:name=".HomeActivity"
            android:theme="@style/Theme.TKM.Home"
            android:exported="true"/>
        <activity android:name=".SignupActivity"
            android:theme="@style/Theme.TKM.Sign"
            android:exported="true" />
        <activity android:name=".LoginActivity"
            android:theme="@style/Theme.TKM.Login"
            android:exported="true"/>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.TKM.Home"
            android:exported="true"/>
    </application>

</manifest>